/*
Theme Name: openwino
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: openwino
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

openwino is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

/* theme is centered */

.center-wrap{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 60em) {
	.center-wrap{
		width: 90%;
	}
	.site-main>.articles-flex-wrap>article{
		width: 90% !important;
	}
}

/* CUSTOM CSS */

.categories-title{
    margin: 0;
    margin-bottom: 15px;
}

#masthead{
	background-color: #3880BB;
}

#masthead .site-branding{
	background-image: url("img/logo.png");
	background-repeat: no-repeat;
	background-position: 0px 20px;
	margin-left: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#masthead .connect-register-nav{
	position: absolute;
    right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100px;
	list-style: none;

	text-align: right;

	margin: 0;
	margin-top: 15px;
	padding: 0;
}

#masthead .connect-register-nav a,
#masthead .connect-register-nav a:hover,
#masthead .connect-register-nav a:visited{
	text-decoration: none;
	color: #ffffff;
}

#masthead .search-field{
	background: none;
	border: 0;

	color: #ffffff;
	font-size: 0.9em;
}
#masthead .search-field:focus{
	background: none;
	border: 0;
	outline: none;
}

#masthead .search-field::-webkit-input-placeholder,
#masthead .search-field:-moz-placeholder,
#masthead .search-field::-moz-placeholder,
#masthead .search-field:-ms-input-placeholder,
#masthead .search-field:placeholder-shown{
	color: #ffffff;
}

#masthead .search-form{
	background-color: #1E649F;
    width: 60px;

    border-bottom: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

	height: 31px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
}

#masthead .search-form label{
    display: none;
}

#masthead .searchButton{
	background: none;
	border: 0;
	box-shadow: none;
	text-shadow: none;
	color: rgba(255, 255, 255, 0.75);
	transform: scale(-1, 1);
}

.search-form-inner{
    text-align: center;
}

.search-field-inner{
    width: 80%;
}

.searchButtonInner{
    background-color: #1E649F;
    width:40px;

    border-bottom: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    height: 31px;

    color: rgba(255, 255, 255, 0.75);

	transform: scale(-1, 1);
}

.site-title{
	padding-top: 85px;
}
.site-title a,
.site-title a:visited,
.site-title a:hover{
	color: #fff !important;
	text-decoration: none;
	font-size: 35px;
	font-weight: bold;
}

#site-navigation{
	background-color: #1E649F;
}

.site-content{
	background-color: #F1F1F1;
	padding-top: 15px;
}

.site-main article>.article-content>header>.entry-title,
.site-main article>.article-content>header>.entry-meta,
.site-main article>header>.entry-title,
.site-main article>header>.entry-meta{
	display: inline-block;
}

.site-main article>.article-content>header>.entry-title a,
.site-main article>.article-content>header>.entry-title a:visited,
.site-main article>.article-content>header>.entry-title a:hover,
.site-main article>.article-content>header>.entry-meta a,
.site-main article>.article-content>header>.entry-meta a:visited,
.site-main article>.article-content>header>.entry-meta a:hover
.site-main article>header>.entry-title a,
.site-main article>header>.entry-title a:visited,
.site-main article>header>.entry-title a:hover,
.site-main article>header>.entry-meta a,
.site-main article>header>.entry-meta a:visited,
.site-main article>header>.entry-meta a:hover{
	color: #000;
	text-decoration: none;
}


.site-main article>img{
	 /*display: inline-block;*/
	 float: left;
	 margin-right: 10px;
	 max-height: 120px;
	 max-width: 120px;
}
.site-main article>.article-content{
	 clear: right;
	 padding: 6px;
}

.site-main article>.entry-header{
	padding: 6px 6px 0 6px;
}
.site-main article>.entry-content{
	padding: 0 6px 0 6px;
}
.site-main article>.entry-footer{
	padding: 0 6px 6px 6px;
}

.site-main article>.article-content>.entry-summary>p,
.site-main article>.article-content>.entry-summary,
.site-main article>.entry-content{
	margin: 0;
}


.site-main article{
	background-color: #FFF;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border-radius: 2px;
    text-align: justify;
}

.site-main>.articles-flex-wrap>article{
	height: 119px;
	overflow: hidden;
	width: 48%;
	min-width: 419px;
	display: flex;

	min-width: 490px;
}

.site-main>.articles-flex-wrap>article .posted-on{
	display: none;
}

.site-main>.articles-flex-wrap{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.site-main article h1,
.site-main article h2{
	margin: 0;
}

.site-footer{
	background-color: #1E649F;
	color: #fff;
	text-align: center;
}
.site-footer a,
.site-footer a:hover,
.site-footer a:visited,
.site-footer a:active{
	color: #fff;
	text-decoration: none;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: none;
	background: #1E649F;
    color: #FFFFFF;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
    transition: all 0.5s;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #3480C1;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #3880BB;
    text-decoration: none;
}

a:visited {
	color: #3880BB;
}

a:hover,
a:focus,
a:active {
	color: #77ADFE;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
    height: 25px;
    transition: height 0.5s;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
	justify-content: space-around;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	color: #ffffff;
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {

}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {

}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {

}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {

}

/* Small menu. */
.main-navigation.toggled{
    height: 130px;
}
.main-navigation.toggled ul {
	display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.main-navigation.toggled ul li{
    width: 100%;
}

.menu-item a:hover{
    color: #A3ABC6;
}

.filter_wrap a{
    background-color: #1E649F;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    height: 31px;
    color: #FFFFFF;
    padding: 5px;
}
.filter_wrap{
    margin-bottom: 10px;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

    .menu-toggle,
    .main-navigation.toggled ul li{
        width: 150px;
    }

    .main-navigation.toggled{
        height: 25px;
    }

    .main-navigation ul{
        display: flex;
    }

    .menu-toggle,
    .main-navigation.toggled ul {
        flex-wrap: nowrap;
    }

    #masthead .search-form label{
        display: block;
    }
    #masthead .search-form{
        width: 371px;
        box-shadow: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.75);
    }

    .search-form-inner{
        display: none;
    }

}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-author.vcard>.avatar{
	display: none;
}

.comment-meta a{
	text-decoration: none;
	color: #000000;
}
.comment-meta .vcard a{
	color: #616161;
}

.comment-body{
	background-color: #FFF;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.comment-list{
	padding: 0;
	margin: 0;
}

.comment>.children{
	margin-left: 5px;
	padding-left:0;
}
.comment-body{
	border-bottom: 1px solid #E2E2E2;
}

/* ------- Comment levels ------- */

/*Level 1*/
li.depth-1>.comment-body{
	border-left: 5px solid #2196F3;
}

/*Level 2*/
li.depth-2>.comment-body{
	border-left: 5px solid #E91E63;
}

/*Level 3*/
li.depth-3>.comment-body{
	border-left: 5px solid #CDDC39;
}

/*Level 4*/
li.depth-4>.comment-body{
	border-left: 5px solid #FF5722;
}

/*Level 5*/
li.depth-5>.comment-body{
	border-left: 5px solid #009688;
}

/*Level 6*/
li.depth-6>.comment-body{
	border-left: 5px solid #9C27B0;
}

/*Level 7*/
li.depth-7>.comment-body{
	border-left: 5px solid #f44336;
}

/*Level 8*/
li.depth-8>.comment-body{
	border-left: 5px solid #FFEB3B;
}

/*Level 9*/
li.depth-9>.comment-body{
	border-left: 5px solid #607D8B;
}

/*Level 10*/
li.depth-10>.comment-body{
	border-left: 5px solid #FFC107;
}

/*Level 11*/
li.depth-11>.comment-body{
	border-left: 5px solid #3F51B5;
}

/*Level 12*/
li.depth-12>.comment-body{
	border-left: 5px solid #8BC34A;
}

.comment-body>.comment-meta,
.comment-body>.comment-content{
	padding-left: 5px;
}
.comment-body>.comment-meta>.comment-author,
.comment-body>.comment-meta>.comment-metadata{
	display: inline-block;
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
