/* Markdown editor styles */

.wmd-button-bar {
	width: 100%;
	padding: 5px 0;
}
.wmd-input {
	/* 604 */
	width: 598px;
	height: 250px;
	margin: 0 0 10px;
	padding: 2px;
	border: 1px solid #ccc;
}
.wmd-preview {
	/* 604 */
	width: 584px;
	margin: 10px 0;
	padding: 8px;
	border: 2px dashed #ccc;
}

.qa-q-view-content pre,
.qa-a-item-content pre,
.wmd-preview pre {
	overflow: auto;
	width: 100%;
	max-height: 400px;
	padding: 0;
	border-width: 1px 1px 1px 3px;
	border-style: solid;
	border-color: #ddd;
	background-color: #eee;
}
pre code {
	display: block;
	padding: 8px;
	font-family: monospace;
}

.wmd-button-row {
	position: relative;
	margin: 0;
	padding: 0;
	height: 20px;
}

.wmd-spacer {
	width: 1px;
	height: 20px;
	margin-left: 14px;
	position: absolute;
	background-color: Silver;
	display: inline-block;
	list-style: none;
}

.wmd-button {
	width: 20px;
	height: 20px;
	padding-left: 2px;
	padding-right: 3px;
	position: absolute;
	display: inline-block;
	list-style: none;
	cursor: pointer;
}

.wmd-button > span {
	/* note: background-image is set in plugin script */
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.wmd-spacer1 {
	left: 50px;
}
.wmd-spacer2 {
	left: 175px;
}
.wmd-spacer3 {
	left: 300px;
}

.wmd-prompt-background {
	background-color: #000;
}
.wmd-prompt-dialog {
	border: 1px solid #999;
	background-color: #f5f5f5;
}
.wmd-prompt-dialog > div {
	font-size: 0.8em;
}
.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999;
	color: black;
}
.wmd-prompt-dialog > form > input[type="button"] {
	border: 1px solid #888;
	font-size: 11px;
	font-weight: bold;
}
